<div class="login-space">
    <mat-card class="z-depth login-card">
       <form class="login-form" [formGroup]="userForm">
         <img mat-card-image src="../assets/img/eventstore-tools.png">
         <mat-form-field class="input-field">
            <input matInput placeholder="Enter your login" name="login" formControlName="name" required>
            <mat-error *ngIf="userForm.get('name').getError('minlength') || userForm.get('name').getError('required')">Login must contains at least 4 symbols</mat-error> 
            <mat-error *ngIf="userForm.get('name').getError('nameError')">{{userForm.get('name').getError('nameError')}}</mat-error> 
          </mat-form-field>

          <mat-form-field class="input-field" >
            <input name="password" formControlName="password" matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="userForm.get('password').getError('invalidPassword') && userForm.get('password').touched">{{userForm.get('password').getError('invalidPassword')}}</mat-error> 
          </mat-form-field>
          <section class="section-confirm">
            <button mat-raised-button color="primary" (click)="register()">Register</button>
        </section>
          <section class="section-help">
            <a class="flex-item" routerLink="/login">Have an Account? Login Here</a>
        </section>
      </form>
    </mat-card>
  </div>